<%- include("partials/header") %> 

<div class="container">
<h1>
	Add New Series
</h1>
	<form action="/home" method="POST">
 <input type="text" name="series" placeholder="Series Name">
 <input type="text" name="image" placeholder="Image Url">
 <input type="text" name="data" placeholder="Details">
 <input type="text" name="premise" placeholder="Series Premise">
 <input type="url" name="link" placeholder="IMDb Link">
 <input type="url" name="watch" placeholder="Netflix Link">
 <input type="submit">
	</form>
</div> 

<%- include("partials/footer") %> 


