<%- include("partials/header") %> 
<style>
	body{
		background:#fff;
	}
</style>
<div class="container">
<h1>
	Add New Series
</h1>
	<form action="/home" method="POST">
 <input type="text" name="series" placeholder="Series Name">
 <input type="text" name="image" placeholder="Image Url">
 <input type="text" name="data" placeholder="Details">
 <input type="text" name="premise" placeholder="Series Premise">
		<br>
 <input type="text" name="castp1" placeholder="cast1 image">
 <input type="text" name="castn1" placeholder="cast1 name">
 <input type="url" name="castd1" placeholder="cast1 details">
		<br>
 <input type="text" name="castp2" placeholder="cast2 image"> 
 <input type="text" name="castn2" placeholder="cast2 name">
 <input type="url" name="castd2" placeholder="cast2 details">	
		<br>
 <input type="text" name="castp3" placeholder="cast3 image">
 <input type="text" name="castn3" placeholder="cast3 name">	
 <input type="url" name="castd3" placeholder="cast3 details">	
		<br>	
 <input type="text" name="castp4" placeholder="cast4 image">
 <input type="text" name="castn4" placeholder="cast4 name">	
 <input type="url" name="castd4" placeholder="cast4 details">
		<br>
 <input type="text" name="castp5" placeholder="cast5 image">
 <input type="text" name="castn5" placeholder="cast5 name">
 <input type="url" name="castd5" placeholder="cast5 details">
		<br>
 <input type="text" name="castp6" placeholder="cast6 image">	
 <input type="text" name="castn6" placeholder="cast6 name">	
 <input type="url" name="castd6" placeholder="cast6 details">	
		<br>
 <input type="url" name="link" placeholder="IMDb Link">
 <input type="url" name="watch" placeholder="Netflix Link">
 <input type="submit">
	</form>
</div> 

<%- include("partials/footer") %> 


