body{
	top:0;
	left:0;
	box-sizing:border-box;
	font-family: 'Poppins', sans-serif;
	background: #1a1a1a;

}
section {
	position:fixed;
	width:100%;
	min-height:95vh; 
	padding:50px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-size:cover;
	transition:0.5s;
}


.content{
	position:relative;
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
	
.content .textBox{
	position:relative;
	max-width:700px;
	margin:30px;
}

.content .textBox h2{
	color:#fff;
	font-size:4em;
	line-height:1.5em;
	font-weight:1000;
	text-transform:uppercase;
	font-family: 'Poppins', sans-serif;
}
	
.content .textBox h2 span{
	font-size:2em;
}
	
.content .textBox p{
	color:#fff;
	width:510px;
}	
	
.content .textBox a{
	display:inline-block;
	margin-top:20px;
	padding:8px 15px;
	background:#fff;
	color:#111;
	border-radius:40px;
	font-weight:700;
	letter-spacing:1px;
	text-decoration:none;
	text-transform:uppercase;
	margin-bottom:40px;
	padding-left:20px;
	align:center;
}
.content .textBox a img{
	width:20px;
	height:20px;
	margin-left:6px;
	margin-bottom:5px;
	
}

.content .imgBox{
	width:600px;
	display:flex;
	padding-right:50px;
	margin-top:30px;
	justify-content:flex-end;
}

.content .imgBox img{
	max-width:600px;
	margin-bottom:40px;
}
	
.thumb{
	position:absolute;
	left:50%;
	bottom:20px;
	transform:translatex(-50%);
	display:flex;
	
}

.thumb li{
	list-style:none;
	display:inline-block;
	margin:0 20px;
	cursor:pointer;
	transition:0.5s;
	margin-bottom:30px;
}

.thumb li:hover{
	transform:translatey(-15px);
 }

.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('/stylesheets/Preloadicon.png');
   background-repeat: no-repeat; 
   background-color:#1a1a1a;
   background-position: center;
}
