

body{
	height:100%;
}
.nav-head{
	position:relative;
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	transition:0.5s;
}

nav{
	background-color: transparent;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding:15px 100px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.logo{
	position:relative;
	width:60px;
	top:0;
	margin-left:70px;
	margin-top:20px;
}

 h3{
	margin-left:40px;
	margin-bottom:-60px;
	font-size:30px;
	color:#fff;
	font-family: 'Londrina Shadow', cursive;
	letter-spacing:2px;
}

h3 span{
	color:#cc0000;
}

nav ul{
	position:absolute;
	display:flex;
	margin-left:890px;
	padding-top:50px;
	margin-top:30px;
	
}

nav ul li{
	list-style:none;
}


nav ul li a{
	display:inline-block;
	color:#fff;
	font-weight:600;
	margin-right:30px;
	text-decoration:none;
	font-size:15px;
	
	
} 



nav a:hover{
	font-weight: 600;
	text-decoration:none;
	color:#cc0000; 
	border-top:solid 4px red;
	transition:all 0.2s;
	
	
	
}
.special{
	color:white !important;
	margin-left:20px;
	margin-right:40px;
	font-weight:600;
	
}

.special:hover{
	border-bottom:solid 4px red:
}



	
	
	
	