body{
	margin:0;
	padding:0;
	background: url("/stylesheets/Background3.jpg");
    background-size:cover;
	background-attachment:fixed;
}

.reviewbox{
	background:rgba(0,0,0,0.8);
	width:700px;
	margin-left:400px;
	height:350px;
	border-radius:10px;
	margin-top:60px;
	padding-top:45px;
}

.reviewbox h1{
	color:#fff;
	paddding-top:40px;
	padding-bottom:20px;
}

.reviewbox form{
	width:500px;
	margin-left:100px;
}

.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('/stylesheets/prescreenload.jpg');
   background-repeat: no-repeat; 
   background-color:#000;
   background-position: center;
}